.products{
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(117, 108, 210);
    border-radius: 5px;
}

.card{
    width : 300px;
    height: 400px;
    border :1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
    
    
}
.product-image{
    text-transform: uppercase;
    border-radius: 8px;
    padding:1px;
    margin:20px;
    height:200px;
    width: 200px;
}

.product-price{
    margin-left: 20px;
    padding-bottom: 0px;
    font-size: 20px;
    line-height: 30px;
    
    
}
.product-name{
    margin-left: 20px;
    font-weight:bold;
    font-size: 20px;
}

.city{
     margin: 1px auto;
     margin-left: 20px;
    padding-bottom: 0px;
    font-size: 15px;
    line-height: 30px; 
    
     
}

.product-add-buttin{
    font-weight: 1000;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:rgb(66, 46, 46);
    color:white;
    height: 30px;
    width: 200px;
    display:block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 1px auto;
}

.product-add-buttin:hover{
    background-color: red;

}
.product-add-buttin:active{
    transform:translateY(2px)
}